/*variables*/
:root {
    --box-height: 12px;
    --move-distance: 26px;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    top: 200px;
    left: 50%;
    position: relative;
    height: 40px;
    width: 40px;
}

.box {
    height: var(--box-height);
    width: var(--box-height);
    background-color: black;
    border: 1px gray solid;
    position: absolute;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,1.22,.89,1.09);
}

.box:nth-child(1){
    animation-name: animation-box1;
}

.box:nth-child(2){
    transform: translate(var(--move-distance), 0);
    animation-name: animation-box2;
}

.box:nth-child(3) {
    transform: translate(var(--move-distance), var(--move-distance));
    animation-name: animation-box3;
}

@keyframes animation-box1 {
    25% {transform: translate(var(--move-distance), 0);}
    50% {transform: translate(var(--move-distance), var(--move-distance));}
    75% {transform: translate(0, var(--move-distance));}
    100% {transform: translate(0, 0);}
}

@keyframes animation-box2 {
    25% {transform: translate(var(--move-distance), var(--move-distance));}
    50% {transform: translate(0, var(--move-distance));}
    75% {transform: translate(0, 0);}
    100% {transform: translate(var(--move-distance), 0);}
}

@keyframes animation-box3 {
    25% {transform: translate(0, var(--move-distance));}
    50% {transform: translate(0, 0);}
    75% {transform: translate(var(--move-distance), 0);}
    100% {transform: translate(var(--move-distance), var(--move-distance));}
}